* {
  margin: 0px;
  padding: 0px;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  background-color: brown;
  font-family: 'Josefin Sans', sans-serif;
  padding: 10px;
}

img {
  width: calc(100% - 20px);
  height: calc(100% - 20px);
}
